* {
    font-family: "PT Sans Narrow","Century Gothic","Apple Gothic",sans-serif;
}

footer a {
    color: #c09100 !important;
}

.verticaltabs-container {
    position: relative;
    min-width: 460px;
    min-height: 460px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.verticaltabs-container > .nav-tabs {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 1000%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-24px) rotate(90deg);
    -moz-transform: translateX(-24px) rotate(90deg);
    -ms-transform: translateX(-24px) rotate(90deg);
    -o-transform: translateX(-24px) rotate(90deg);
    transform: translateX(-24px) rotate(90deg);
}

.verticaltabs-container > .tab-content {
    position: absolute;
    top: 0;
    right: 58px;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

.logo {
    float: left;
    margin-top: -5px;
    margin-left: -12px;
    margin-right: -12px;
}

.text-muted {
    font-size: 0.6em;
    white-space: nowrap;
}

.currentValue {
    display: block;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    margin-top: 33px;
}

.currentValue .valueLabel {
    color: #555;
    position: relative;
    font-size: 1em;
    padding-top: 40px;
    font-weight: bold;
}

.currentValue .valueText {
    color: #999;
    position: relative;
    font-size: 2.8em;
    font-weight: bold;
    padding-top: 10px;
}
.currentValue .valueSubText {

    padding-top: 10px;
}

.currentValue .valueSubText .badge {
    font-size: 0.8em;
}


.currentValue .valueSubText button {
    margin-bottom: 2px;
}

.row {
    margin-bottom: 90px;
    margin-top: 40px;
}

.badge {
    padding: 5px 8px;
}

.sensorButtons {
    color: #999;
    padding-top: 8px;
    padding-right: 5px;
    font-size: 1.4em;
}

.sensorButtons button {
    margin-left: 5px !important;
}

footer {
    background-color: #eee;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

h2 > img {
    margin-right: 5px;
}

.chart {
    color: #cc0000;
}